body,
html {
    height: 100%;
    margin: 0;
}

#schedule-container {
    display: flex;
    height: 100%;
}

#time-sidebar {
    width: 65px;
    /* Adjust as needed */
    background-color: #f0f0f0;
    overflow: auto;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

.time-block {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

#events-container {
    flex-grow: 1;
    background-color: #fff;
    position: relative;
    overflow: auto;
    padding: 20px;
}

.event {
    position: absolute;
    min-width: 100px;
    min-height: 30px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    cursor: move;
    box-sizing: border-box;
    overflow: hidden;
}




/* Add styling for resizing handles if needed 
.event::after {
    content: '';
    width: 10px;
    height: 10px;
    background: #ccc;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 2px;
    cursor: se-resize;
} */

/* Style for the active dragging event */
.dragging {
    z-index: 1000;
    box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.2);
}

/* You can add more specific styles for event colors, typography, etc. */