/* Ensure the page takes up full viewport height with a flex container */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #4a2f2f;
    color: red;
    padding: 10px 0;
}

.bg-image {
    /* Add your image URL */
    width: 100vw;
    /* Or whatever height you prefer */
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.95)), url('CS260MockUp.png');
    background-position: top;
    background-repeat: no-repeat;
}