/* Ensure the page takes up full viewport height with a flex container */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 20px;
}

.bg-image {
    /* Add your image URL */
    width: 100vw;
    /* Or whatever height you prefer */
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.95)), url('CS260MockUp.png');
    background-position: top;
    background-repeat: no-repeat;
}

#mb-6 {
    margin-bottom: 3em;
}

#pad-top {
    padding-top: 30px;
}



iframe {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 300px;
}

main {
    flex-grow: 1;
    /* Allow main content to grow and fill available space */
    overflow: auto;
    /* Add scroll to main content if needed */
}