/* Ensure the page takes up full viewport height with a flex container */
html,
body {
    height: 100%;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Use the full viewport height */
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 20px;
    flex-shrink: 0;
}

.bg-image {
    width: 100vw;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.95)), url('./CS260MockUp.png');
    background-position: top;
    background-repeat: no-repeat;
}

#mb-6 {
    margin-bottom: 3em;
}

#pad-top {
    padding-top: 30px;
}


main {
    flex-grow: 1;
    /* Allow main content to grow and fill available space */
    overflow: auto;
    /* Add scroll to main content if needed */
}

.form-control {
    width: 20em;
    max-width: 90%;
}

.users {
    position: fixed;
    margin-bottom: 6em;
}

@media (max-width: 400px) {
    .users {
        position: fixed;
        margin-bottom: 0.5em;
    }
}

.login_display {
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}