div.hr {
    border-top: 1px solid #ddd;
    margin-left: 85px;
}

.time-block {
    padding: 5px 10px;
    white-space: nowrap;
    text-align: right;
    padding-right: calc(100% - 4em);
}

.half-hour {
    opacity: 0;
    /* Hide the half-hour labels */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 600px;
}

#events-container {
    background-color: #fcfcfc;
    position: relative;
    overflow: hidden;
}

.event {
    position: absolute;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    cursor: move;
    box-sizing: border-box;
    touch-action: none;
}

.non-selectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* .event .event-title {
    flex: 1;
} */

.dragging {
    z-index: 1000;
    box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.2);
}

.planner-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#current-day-button {
    background: none;
    border: none;
    color: #4f4f4f;
    cursor: pointer;
    padding: 0 5px;
}

#empty-day {
    background: none;
    color: #b53c47;
    border: none;
    padding: 0 5px;
}

.current-date-view .BsCalendar {
    cursor: pointer;
}

.dropdown-calendar {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-width: 300px;
}

.week-navigation {
    max-width: 100%;
}

.week-view {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.week-view .day {
    cursor: pointer;
    padding: 5px 5px;
}

.week-view .today {
    background-color: #8ad18d;
    /* Highlight color */
    color: white;
    border-radius: 4px;
}

.week-view .selected-day {
    background-color: #e0e0e0;
    border-radius: 4px;
}

.today-button {
    width: auto;
    padding: 0 10px;
    height: 24px;
    background-color: #8ad18d;
    border: none;
    /* or any color you prefer */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.today-button:hover {
    background-color: #6fbd6f;
}

.week-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 5px;
}

/* Modal */

.modal {
    /* display: none; */
    position: fixed;
    /* z-index: 10; */
    padding-top: 2em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog,
.modal-content {
    /* 80% of window height */
    max-height: 90%;
}

.modal-body {
    /* background-color: #fefefe; */
    margin: auto;
    /* padding: 20px; */
    /* border: 1px solid #c2c2c2; */
    width: 90%;
    max-height: 100%;
    overflow-y: scroll;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}

.nav-link {
    margin: 0 0.25em;
}

#userCountBox {
    background-color: rgb(13, 109, 252, 0.6);
    border-color: rgb(13, 109, 252, 0.8);
}