div.hr {
    border-top: 1px solid #ddd;
    margin-left: 85px;
}

.time-block {
    padding: 5px 10px;
    white-space: nowrap;
    text-align: right;
    padding-right: calc(100% - 4em);

    /* Make time text unselectable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.half-hour {
    opacity: 0;
    /* Hide the half-hour labels */
}

#events-container {
    background-color: #fcfcfc;
    position: relative;
    overflow: auto;
    /* Should the overflow be auto? */
}

.event {
    position: absolute;
    min-width: 6em;
    min-height: 2em;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    cursor: move;
    box-sizing: border-box;
    overflow: hidden;

    /* Make event text unselectable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dragging {
    z-index: 1000;
    box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.2);
}

.current-date-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.current-date-view button {
    background: none;
    border: none;
    color: #4f4f4f;
    cursor: pointer;
    padding: 0;
}

.current-date-view .BsCalendar {
    cursor: pointer;
}

.dropdown-calendar {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.week-view {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.week-view .day {
    cursor: pointer;
    padding: 5px 10px;
}

.week-view .today {
    background-color: #4caf50;
    /* Highlight color */
    color: white;
    border-radius: 4px;
}

.week-view .selected-day {
    background-color: #e0e0e0;
    border-radius: 4px;
}

.today-button {
    width: 24px;
    height: 24px;
    background-color: #4caf50;
    /* or any color you prefer */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.week-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 5px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 5px;
}